@font-face {
    font-family:myFont ;
    src: url(oozy.ttf);
}
h1{
    text-align: center;
    font-family: myFont;
    font-size: 60px;
}
h2{
    color: white ;
}
body{
    background-image: url("Forest.jpg");
}

p{
    text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: maroon;
}


section{
    background-color: black;
    
}
#play-area{
   
    top:auto;
    margin-top: 200px;
    display: flex;
    grid-template-columns: auto;
 
}

.line{
  text-align: center;
  grid-template-rows: auto;

}
.card{
    width: 100px;
    height: 100px;
    display:inline-block;
    cursor: cell;
    position: relative;
    transform-style: preserve-3d;
    background-image: url(splat.jpg);

    
   
}
.back{
    width: 100px;
    height: 100px;
    position: absolute;
    display:inline-block;
   
    
    

}
.front{
    width: 100px;
    height: 100px;
    position: absolute;
  transform:rotateY(180deg);
  backface-visibility: hidden;
}

.flipCard{
    transform: rotateY(180deg);
}
.card:hover{
 border: 1% solid black;
}


.splat{
    width: 100px;
    height: 100px;
    position: absolute;
    display: none;
    


}

.character{
    width: 100px;
    height: 100px;

    
}
.hint{
    float: right;
    background-color: orange;
     font-weight: bold ;
     font-style: italic;
}
.start{
 font-weight: bold;
 font-style: italic;
 background-color: greenyellow;
 
}

