@font-face {
    font-family:myFont ;
    src: url(oozy.ttf);
}
h1{
    text-align: center;
    font-family: myFont;
    font-size: 60px;
}
h2{
    color: white ;
}
body{
    background-image: url("Forest.jpg");
}

p{
    text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: maroon;
}
main{
    display: flex;
}

section{
    background-color: #000000;
    width: 20vw;
   
    
}
.play-area{
    width: 60vw;
    grid-template-columns: auto;
    text-align: center;
    display:flex;
    flex-direction: column;
    
}

.line{
  text-align: center;
  grid-template-rows: auto;

}
.card{
    width: 100px;
    height: 100px;
    display:inline-block;
    cursor: cell;
    position: relative;
    transform-style: preserve-3d;
    background-image: url(splat.jpg);
    transition:transform 1s;

    
   
}
.back{
    width: 100px;
    height: 100px;
    position: absolute;
    display:inline-block;
   
    
    

}
.front{
    width: 100px;
    height: 100px;
    position: absolute;
  transform:rotateY(180deg);
  backface-visibility: hidden;

}

.showCard{
    transform: rotateY(180deg);

}
.hideCard{
    transform: rotateY(-180deg);
    display:none;
    
}
.card:hover{
 border: 1% solid black;
}


.splat{
    width: 100px;
    height: 100px;
    position: absolute;
    display: none;
    


}

.character{
    width: 100px;
    height: 100px;

    
}
.reset{
background-color: red;
text-align: center;
}
.hint{
    float: right;
    background-color: orange;
     font-weight: bold ;
     font-style: italic;
}
.start{
 font-weight: bold;
 font-style: italic;
 background-color: greenyellow;
 
}

