@font-face {
    font-family:myFont ;
    src: url(oozy.ttf);
}
h1{
    text-align: center;
    font-family: myFont;
    font-size: 60px;
}
h2{
    color: white ;
}
body{
    background-image: url("Forest.jpg");
}

p{
    text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: maroon;
}
main{
display: grid;
 max-width: none;
 text-align: center;
 justify-items: stretch;
justify-content: center;
}

section{
    background-color: #000000;
    width: 20vw;
    float: left;
   
    
}
.play-area{
    width: 60vw;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin: 0%;
    
}

.line{
  text-align: center;
 

}
.card{
    width: 100px;
    height: 100px;
    display:inline-block;
    cursor: cell;
    position: relative;
    transform-style: preserve-3d;
    background-image: url(splat.jpg);
    transition:transform 1s;
    align-items: center;
  

    
   
}
.back{
    width: 100px;
    height: 100px;
    position: relative;

   
    
    

}
.front{
    width: 100px;
    height: 100px;
    position: relative;
  transform:rotateY(180deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;


}

.showCard{
    transform: rotateY(180deg);
    perspective: (1000px);
  
 

}
.hideCard{
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #000000;
 

}

.card:hover{
 border: 1% solid black;
}


.splat{
    width: 100px;
    height: 100px;
    position: absolute;
    display: none;
    


}

.character{
    width: 100px;
    height: 100px;

    
}
.reset{
background-color: red;
text-align: center;
}
.hint{
    float: right;
    background-color: orange;
     font-weight: bold ;
     font-style: italic;
}
.start{
 font-weight: bold;
 font-style: italic;
 background-color: greenyellow;
 
}

.correctMatch{
    background-color: none;
}